[Desktop Entry]
Name=Toppler
Comment='Jump and run' game
Comment[pl]=Gra z rodzaju 'skacz i biegnij'
Icon=toppler
Exec=toppler
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
